* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

body {
  height: 100vh;
  background: #0B2434;
  padding-block: 15vh;
}

main{
  background: #F5F5F5;
  align-self: center;
  max-width: 500px;
  margin-inline: auto;
  height: 650px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.container{
  display: grid;
  grid-template-columns: 55px 55px 55px 55px 55px;
  gap: 28px;
}

.dice{
  border-radius: 10px;
  height: 55px;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

button{
  font-size: 30px;
  background: #5035FF;
  border: 0;
  border-radius: 6px;
  color: #FFF;
  width: 130px;
  height: 50px;
  font-weight: 600;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-duration: 100ms;
}

button:hover{
  opacity: 0.8;
}

button:active{
  opacity: 0.6;
}


